[run]
branch=True
source=greenback
concurrency=greenlet

# When modifying exclude patterns, be sure to update .coveragercpypy as well
[report]
precision = 1
exclude_lines =
  pragma: no cover
  abc.abstractmethod
  @overload
  if TYPE_CHECKING:
